/*==============================
HERO SECTION
================================*/
.hero{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
}
.hero-container div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 100vw; 
    height: 100vh; 
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}
.hero-container .active{
    opacity: 1; /* Show only the active image */
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #000;
    background: rgba(253, 253, 253, 0.8);
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 1%;
    z-index: 10;
    transition: 0.3s all ease-in-out;
}
@media (hover: hover) and (pointer: fine){
    .arrow:hover{
        color: var(--color2);
    }
}
body.dark-mode .arrow{
    color: #fff;
    background: rgba(5, 5, 5, 0.8);
}
.arrow.left{
    left: 2%;
    z-index: 100;
}
.arrow.right{
    right: 2%;
    z-index: 100;
}
.hero-container .active{
    opacity: 1;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center relative to its own size */
    z-index: 100;
    min-width: 80%;
}
.hero-text h1{
    margin-bottom: 0px;
    font-size: 2.2rem;
    color: #fff;
}
.hero-text p{
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #fff;
}
br{
    display: none;
}
@media (min-width: 300px) and (max-width: 480px){
    .hero{
        height: 90vh;
    }
}
@media (min-width: 481px) and (max-width: 600px){
    .hero-text h1{
        font-size: 2.8rem;
    }
    .hero-text p{
        font-size: 1.1rem;
    }
    .hero{
        height: 90vh;
    }
}
@media (min-width: 601px) and (max-width: 899px){
    .hero-text h1{
        font-size: 3rem;
    }
    .hero-text p{
        font-size: 1.4rem;
    }
    .hero{
        text-align: left;
    }
    h1 br{
        display: none;
    }
    p br{
        display: block;
    }
}
@media (min-width: 900px) and (max-width: 1200px){
    .hero-text h1{
        font-size: 4rem;
        margin-top: 100px;
    }
    .hero-text p{
        font-size: 2rem;
    }
    .hero{
        text-align: left;
    }
    h1 br{
        display: none;
    }
    p br{
        display: block;
    }
}
@media (min-width: 1200px) and (max-width: 1400px){
    .hero-text h1{
        font-size: 4rem;
        margin-top: 100px;
    }
    .hero-text p{
        font-size: 2.2rem;
    }
    .hero{
        text-align: left;
    }
    h1 br{
        display: none;
    }
    p br{
        display: block;
    }
}
@media (min-width: 1401px) and (max-width: 1800px){
    .hero-text h1{
        font-size: 5rem;
        margin-top: 100px;
    }
    .hero-text p{
        font-size: 2.5rem;
    }
    .hero{
        text-align: left;
    }
    h1 br{
        display: none;
    }
    p br{
        display: block;
    }
}
@media (min-width: 1801px) and (max-width: 2100px){
    .arrow{
        font-size: 2rem;
    }
    .hero-text h1{
        font-size: 6rem;
        margin-top: 100px;
    }
    .hero-text p{
        font-size: 3rem;
    }
    br{
        display: none;
    }
}
@media (min-width: 2101px) and (max-width: 2560px){
    .arrow{
        font-size: 3rem;
    }
    .hero-text h1{
        font-size: 7rem;
        margin-top: 100px;
    }
    .hero-text p{
        font-size: 4rem;
    }
    br{
        display: none;
    }
}
@media (min-width: 2561px){
    .arrow{
        font-size: 4rem;
    }
    .hero-text h1{
        font-size: 8rem;
        margin-top: 100px;
    }
    .hero-text p{
        font-size: 4.2rem;
    }
    br{
        display: none;
    }
}
/*==============================
NEWS SECTION
================================*/
.news{
    text-align: center;
    color: var(--color2);
}
.news-container {
    display: grid;
    grid-template-columns: 1fr; /* One column layout */
    gap: 20px; /* Space between items */
    max-width: 600px; /* Limit width for better readability */
    margin: 0 auto; /* Center container on the page */
    padding: 20px;
}
  
  /* Individual news item styling */
.news-item {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    border: 1px solid #ddd; /* Light border for separation */
    border-radius: 8px;
    overflow: hidden; /* Ensure no overflow on borders */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}
@media (hover: hover) and (pointer: fine){
    .news-item:hover {
        transform: translateY(-10px); /* Elevate the card */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
        cursor: pointer;
      }
}
/*DARK MODE*/
.news-item {
    border: 1px solid #3e3e3e; /* Light border for separation */
}
.news-item img{
    width: 100%; 
    height: auto;
}
.news-date{
    font-size: 0.9rem;
    color: #666; 
    margin: 10px 15px 5px;
}
.news-title{
    font-size: 1.2rem;
    font-weight: bold;
    color: #333; 
    margin: 5px 15px 15px; 
}
/*DARK MODE*/
body.dark-mode .news-title{
    color: #fff;
}
@media (min-width: 767px) and (max-width: 1000px){
    .news-container {
        grid-template-columns: repeat(2, 1fr); /* Two equal columns */
        max-width: 100%; /* Allow container to take full width */
    }
}
@media (min-width: 1000px) and (max-width: 1400px){
    .news-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Two equal columns */
        gap: 20px; /* Space between items */
        max-width: 100%; /* Allow container to take full width */
        margin: 0 auto; /* Center the grid container */
        padding: 20px;
        box-sizing: border-box; /* Include padding in width calculations */
    }
    .news h2{
        font-size: 3rem;
    }
    .news-title{
        font-size: 1.8;
    }
}
/*==============================
SERVICES SECTION
================================*/
.services-section{
    position: relative;
    background-image: url('/img/grid-bg-img.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.services-section h2 br{
    display: none;
}
.services-overlay {
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 15px;
    width: 100%; 
}
.services-item{
    background: rgba(255, 255, 255, 0.8); 
    color: #000;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out; /* Ensures smooth rotation */
}
/*DARK MODE*/
body.dark-mode .services-item{
    background: rgba(0, 0, 0, 0.5); 
    color: #fff;
}
@media (hover: hover) and (pointer: fine){
    .services-item:hover{
        transform: translateY(-10px); 
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7); 
        background: rgba(253, 253, 253, 0.8);
        backdrop-filter: blur(10px);
    }
}
.services-item h2{
    font-size: 1rem;
    margin: 10px 0;
}
.services-item p{
    font-size: 0.8rem;
    color: #000;
}
/*DARK MODE*/
body.dark-mode .services-item p{
    color: #fff;
}
.services-icon{
    width: 50px; 
    height: auto;
    margin-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 1200px){
    .services-overlay {
        flex-direction: row;
    }
    .services-section h2{
        font-size: 5rem;
        text-align: left;
        margin-right: 50px;
    }
    .services-item h2{
        font-size: 1rem;
        margin: 10px 0;
    }
    .services-section h2 br{
        display: block;
    }
}
@media (min-width: 1201px) and (max-width: 1350px){
    .services-overlay {
        flex-direction: row;
    }
    .services-section h2{
        font-size: 6rem;
        text-align: left;
        margin-right: 50px;
    }
    .services-item h2{
        font-size: 2rem;
        margin: 10px 0;
    }
    .services-item p{
        font-size: 1.3rem;
    }
    .services-section h2 br{
        display: block;
    }
}
@media (min-width: 1350px) and (max-width: 1500px){
    .services-overlay {
        flex-direction: row;
    }
    .services-section h2{
        font-size: 7.6rem;
        text-align: left;
        margin-right: 50px;
    }
    .services-item h2{
        font-size: 2rem;
        margin: 10px 0;
    }
    .services-item p{
        font-size: 1.3rem;
    }
    .services-section h2 br{
        display: block;
    }
}
@media (min-width: 1500px) and (max-width: 1800px){
    .services-overlay {
        flex-direction: row;
    }
    .services-section h2{
        font-size: 9rem;
        text-align: left;
        margin-right: 50px;
    }
    .services-item h2{
        font-size: 2.5rem;
        margin: 10px 0;
    }
    .services-item p{
        font-size: 2.5rem;
    }
    .services-section h2 br{
        display: block;
    }
}
  
